<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../build/css/login.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../images/logo1.png" class="img-responsive logo" alt="Logo">
      </div>
      <div class="col-md-12">
        <div id="react-form"></div>
      </div>
    </div>

  </div>
  
  
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../build/js/login.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>