<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../build/css/main/main.css">

</head>

<body>
    <div class="row toolbar">
        <p class="user"> sokartema </p>
        <a class="item-close" id="close">
            <i class="fa fa-close" title="Close"></i>
        </a>
        <a class="item-maximize" id="maximize">
            <i class="fa fa-window-maximize" title="Maximize"></i>
        </a>
        <a class="item-minimize" id="minimize">
            <i class="fa fa-window-minimize" title="Minimize"></i>
        </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="side-menu">
                    <button class="side-menu-button selected"> <i class="fa fa-home fa-fw" aria-hidden="true"></i></button>
                    <button class="side-menu-button"> <i class="fa fa-star fa-fw" aria-hidden="true"></i></button>
                    <button class="side-menu-button"> <i class="fa fa-wrench fa-fw" aria-hidden="true"></i></button>
                    <button class="side-menu-button"> <i class="fa fa-power-off fa-fw" aria-hidden="true"></i></button>

                </div>
            </div>

            <div class="col-md-10">
                <div id="react-main"></div>
            </div>
        </div>

    </div>


    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../build/js/main/index.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>