$primary-color: #00C5B9;
$error-color: #F05768;
$hover-color: #b04450;
$background-color: #00242B;


@mixin input-custom-focus(){
  outline: none !important;
  border:1px solid $primary-color;
  box-shadow: none;
}

body{

  background-color: $background-color;
  -webkit-app-region: drag;
}

img.logo{
 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 20px auto;
  width: 200px;
  height: 200px;

}

input.custom{
  height: 40px;
  font-size: 17px;
  -webkit-app-region: no-drag;
}
 input.custom:focus {
   @include input-custom-focus();
 }
 input.custom:required:focus {
   @include input-custom-focus();
 }
 input.customError{
   height: 40px;
   font-size: 17px;
   outline: none !important;
   border:1px solid $error-color;
   box-shadow: none;
 }
 input.customError:focus {
   outline: none !important;
   border:1px solid $error-color;
   box-shadow: none;
 }
 form.custom{
   margin-top: 20px;
 }
 button.custom{
   height: 40px;
   font-size: 17px;
   width: 100%;
   font-weight: 600;
   background-color: $error-color;
   color: white;
   -webkit-app-region: no-drag;
 }
 button.custom:hover{
   font-weight: 600;
   background-color: $hover-color;
   color: white;
 }
 button.custom:active{
   font-weight: 600;
   background-color: $hover-color;
   color: white !important;
 }
 button.custom:focus{
   font-weight: 600;
   background-color: $error-color;
   color: white !important;;
 }
 p.customErrorMessage{
   color: $error-color;
 }
 .alert.alert-danger {
   background: rgba(255,84,84,.1);
   border-color: #ff5454;
   color: #ff5454;
 }
 .alert {
   border: 1px solid #e8eaed;
   background: #cccfd6;
   border-radius: 2px;
   padding: 15px;
   margin-bottom: 20px;
 }